*{
  box-sizing: border-box;
}

.container{
  text-align: center;
  color: white;
  background-color: rgb(7, 5, 8);
  font-weight: 800;
  font-size: 33px;
  width: 70%;
  margin: 0% auto;
  padding: 1rem;
}
