*{
  box-sizing: border-box;
}

.container{
  text-align: center;
  color: white;
  background-color: rgb(7, 5, 8);
  font-weight: 800;
  font-size: 33px;
  width: 70%;
  margin: 0% auto;
  padding: 1rem;
}

.cabecera{
  color: rgb(23, 29, 29);
  text-transform: capitalize;
  text-decoration: underline;
  background-color: white;
}

.cabecera:hover{
  font-style: italic;
  cursor: pointer;
}
